div.container.main-margin-bottom
  table.table.table-bordered.main-width
    thead.thead-light
      tr
        th Popular polls right now
    tbody
      if polls.length === 0
        tr
          td(style='width: 80%;')
            span There are no polls :(
      else
        each q in polls.map(p => {p.number = `/poll/${p.number}`;return p;})

          - var hint
          if q.answerCount === 0
            - hint = 'Nobody has answered this poll yet'
          else if q.answerCount === 1
            - hint = '1 person has answered this poll'
          else
            - hint = q.answerCount + ' people have answered to this poll'
          
          tr
            td(style='width: 80%;') 
              div(style='display: inline-block; width: 80%; overflow: auto;')
                a(href=q.number)
                  span= q.question
              div(style='display: inline-block; width: 20%; text-align: right;'
                title=hint)
                i.material-icons group
                span(style='vertical-align: top;') &nbsp;#{q.answerCount}